/* Colour themes */
/* (channel colour, channel box background, channel colour 3, channel-neutral-colour) */
/* (color, background, border, text) */
[data-widget-section="default"] * {
  color: #4b4e5a; }

[data-widget-section="default"] .color {
  color: #033e4e; }

[data-widget-section="default"] .textColor {
  color: #4b4e5a; }

[data-widget-section="default"] .focus {
  border-bottom-color: #033e4e; }

[data-widget-section="default"] .focus:hover {
  color: #033e4e;
  border-bottom-color: #033e4e; }

[data-widget-section="default"] .svgBackground {
  fill: #033e4e; }

[data-widget-section="default"] .background {
  background-color: #f9f6f2; }

[data-widget-section="default"] .background.alt {
  background-color: #1a2d38; }

[data-widget-section="default"] .background.alt2 {
  background-color: #033e4e; }

[data-widget-section="default"] .listColor:before, [data-widget-section="default"] .listColor:before {
  color: #033e4e; }

[data-widget-section="default"] .listBackground:after, [data-widget-section="default"] .listBackground:before {
  background-color: #033e4e; }

[data-widget-section="default"] .border {
  border-color: #1a2d38; }

[data-widget-section="default"] .invert .background {
  background-color: #033e4e; }
[data-widget-section="default"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="default"] .invert .border {
  border-color: #033e4e; }
[data-widget-section="default"] .invert .color.reset {
  color: #033e4e; }

[data-widget-section="education"] * {
  color: #4b4e5a; }

[data-widget-section="education"] .color {
  color: #d10a11; }

[data-widget-section="education"] .textColor {
  color: #4b4e5a; }

[data-widget-section="education"] .focus {
  border-bottom-color: #d10a11; }

[data-widget-section="education"] .focus:hover {
  color: #d10a11;
  border-bottom-color: #d10a11; }

[data-widget-section="education"] .svgBackground {
  fill: #d10a11; }

[data-widget-section="education"] .background {
  background-color: #f9f6f2; }

[data-widget-section="education"] .background.alt {
  background-color: #700000; }

[data-widget-section="education"] .background.alt2 {
  background-color: #d10a11; }

[data-widget-section="education"] .listColor:before, [data-widget-section="education"] .listColor:before {
  color: #d10a11; }

[data-widget-section="education"] .listBackground:after, [data-widget-section="education"] .listBackground:before {
  background-color: #d10a11; }

[data-widget-section="education"] .border {
  border-color: #700000; }

[data-widget-section="education"] .invert .background {
  background-color: #d10a11; }
[data-widget-section="education"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="education"] .invert .border {
  border-color: #d10a11; }
[data-widget-section="education"] .invert .color.reset {
  color: #d10a11; }

[data-widget-section="news"] * {
  color: #4b4e5a; }

[data-widget-section="news"] .color {
  color: #d10a11; }

[data-widget-section="news"] .textColor {
  color: #4b4e5a; }

[data-widget-section="news"] .focus {
  border-bottom-color: #d10a11; }

[data-widget-section="news"] .focus:hover {
  color: #d10a11;
  border-bottom-color: #d10a11; }

[data-widget-section="news"] .svgBackground {
  fill: #d10a11; }

[data-widget-section="news"] .background {
  background-color: #f9f6f2; }

[data-widget-section="news"] .background.alt {
  background-color: #700000; }

[data-widget-section="news"] .background.alt2 {
  background-color: #d10a11; }

[data-widget-section="news"] .listColor:before, [data-widget-section="news"] .listColor:before {
  color: #d10a11; }

[data-widget-section="news"] .listBackground:after, [data-widget-section="news"] .listBackground:before {
  background-color: #d10a11; }

[data-widget-section="news"] .border {
  border-color: #700000; }

[data-widget-section="news"] .invert .background {
  background-color: #d10a11; }
[data-widget-section="news"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="news"] .invert .border {
  border-color: #d10a11; }
[data-widget-section="news"] .invert .color.reset {
  color: #d10a11; }

[data-widget-section="sport"] * {
  color: #4b4e5a; }

[data-widget-section="sport"] .color {
  color: #df4C0f; }

[data-widget-section="sport"] .textColor {
  color: #4b4e5a; }

[data-widget-section="sport"] .focus {
  border-bottom-color: #df4C0f; }

[data-widget-section="sport"] .focus:hover {
  color: #df4C0f;
  border-bottom-color: #df4C0f; }

[data-widget-section="sport"] .svgBackground {
  fill: #df4C0f; }

[data-widget-section="sport"] .background {
  background-color: #e5eff5; }

[data-widget-section="sport"] .background.alt {
  background-color: #702800; }

[data-widget-section="sport"] .background.alt2 {
  background-color: #df4C0f; }

[data-widget-section="sport"] .listColor:before, [data-widget-section="sport"] .listColor:before {
  color: #df4C0f; }

[data-widget-section="sport"] .listBackground:after, [data-widget-section="sport"] .listBackground:before {
  background-color: #df4C0f; }

[data-widget-section="sport"] .border {
  border-color: #702800; }

[data-widget-section="sport"] .invert .background {
  background-color: #df4C0f; }
[data-widget-section="sport"] .invert .color {
  color: #e5eff5; }
[data-widget-section="sport"] .invert .border {
  border-color: #df4C0f; }
[data-widget-section="sport"] .invert .color.reset {
  color: #df4C0f; }

[data-widget-section="business"] * {
  color: #4b4e5a; }

[data-widget-section="business"] .color {
  color: #003c5e; }

[data-widget-section="business"] .textColor {
  color: #4b4e5a; }

[data-widget-section="business"] .focus {
  border-bottom-color: #003c5e; }

[data-widget-section="business"] .focus:hover {
  color: #003c5e;
  border-bottom-color: #003c5e; }

[data-widget-section="business"] .svgBackground {
  fill: #003c5e; }

[data-widget-section="business"] .background {
  background-color: #e5eff5; }

[data-widget-section="business"] .background.alt {
  background-color: #690b54; }

[data-widget-section="business"] .background.alt2 {
  background-color: #003c5e; }

[data-widget-section="business"] .listColor:before, [data-widget-section="business"] .listColor:before {
  color: #003c5e; }

[data-widget-section="business"] .listBackground:after, [data-widget-section="business"] .listBackground:before {
  background-color: #003c5e; }

[data-widget-section="business"] .border {
  border-color: #690b54; }

[data-widget-section="business"] .invert .background {
  background-color: #003c5e; }
[data-widget-section="business"] .invert .color {
  color: #e5eff5; }
[data-widget-section="business"] .invert .border {
  border-color: #003c5e; }
[data-widget-section="business"] .invert .color.reset {
  color: #003c5e; }

[data-widget-section="money"] * {
  color: #4b4e5a; }

[data-widget-section="money"] .color {
  color: #86146e; }

[data-widget-section="money"] .textColor {
  color: #4b4e5a; }

[data-widget-section="money"] .focus {
  border-bottom-color: #86146e; }

[data-widget-section="money"] .focus:hover {
  color: #86146e;
  border-bottom-color: #86146e; }

[data-widget-section="money"] .svgBackground {
  fill: #86146e; }

[data-widget-section="money"] .background {
  background-color: #e5eff5; }

[data-widget-section="money"] .background.alt {
  background-color: #003c5e; }

[data-widget-section="money"] .background.alt2 {
  background-color: #86146e; }

[data-widget-section="money"] .listColor:before, [data-widget-section="money"] .listColor:before {
  color: #86146e; }

[data-widget-section="money"] .listBackground:after, [data-widget-section="money"] .listBackground:before {
  background-color: #86146e; }

[data-widget-section="money"] .border {
  border-color: #003c5e; }

[data-widget-section="money"] .invert .background {
  background-color: #86146e; }
[data-widget-section="money"] .invert .color {
  color: #e5eff5; }
[data-widget-section="money"] .invert .border {
  border-color: #86146e; }
[data-widget-section="money"] .invert .color.reset {
  color: #86146e; }

[data-widget-section="opinion"] * {
  color: #4b4e5a; }

[data-widget-section="opinion"] .color {
  color: #93030e; }

[data-widget-section="opinion"] .textColor {
  color: #4b4e5a; }

[data-widget-section="opinion"] .focus {
  border-bottom-color: #93030e; }

[data-widget-section="opinion"] .focus:hover {
  color: #93030e;
  border-bottom-color: #93030e; }

[data-widget-section="opinion"] .svgBackground {
  fill: #93030e; }

[data-widget-section="opinion"] .background {
  background-color: #f9f6f2; }

[data-widget-section="opinion"] .background.alt {
  background-color: #600000; }

[data-widget-section="opinion"] .background.alt2 {
  background-color: #93030e; }

[data-widget-section="opinion"] .listColor:before, [data-widget-section="opinion"] .listColor:before {
  color: #93030e; }

[data-widget-section="opinion"] .listBackground:after, [data-widget-section="opinion"] .listBackground:before {
  background-color: #93030e; }

[data-widget-section="opinion"] .border {
  border-color: #600000; }

[data-widget-section="opinion"] .invert .background {
  background-color: #93030e; }
[data-widget-section="opinion"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="opinion"] .invert .border {
  border-color: #93030e; }
[data-widget-section="opinion"] .invert .color.reset {
  color: #93030e; }

[data-widget-section="travel"] * {
  color: #6b5e3f; }

[data-widget-section="travel"] .color {
  color: #008385; }

[data-widget-section="travel"] .textColor {
  color: #6b5e3f; }

[data-widget-section="travel"] .focus {
  border-bottom-color: #008385; }

[data-widget-section="travel"] .focus:hover {
  color: #008385;
  border-bottom-color: #008385; }

[data-widget-section="travel"] .svgBackground {
  fill: #008385; }

[data-widget-section="travel"] .background {
  background-color: #fff8f2; }

[data-widget-section="travel"] .background.alt {
  background-color: #004849; }

[data-widget-section="travel"] .background.alt2 {
  background-color: #008385; }

[data-widget-section="travel"] .listColor:before, [data-widget-section="travel"] .listColor:before {
  color: #008385; }

[data-widget-section="travel"] .listBackground:after, [data-widget-section="travel"] .listBackground:before {
  background-color: #008385; }

[data-widget-section="travel"] .border {
  border-color: #004849; }

[data-widget-section="travel"] .invert .background {
  background-color: #008385; }
[data-widget-section="travel"] .invert .color {
  color: #fff8f2; }
[data-widget-section="travel"] .invert .border {
  border-color: #008385; }
[data-widget-section="travel"] .invert .color.reset {
  color: #008385; }

[data-widget-section="technology"] * {
  color: #4b4e5a; }

[data-widget-section="technology"] .color {
  color: #04777b; }

[data-widget-section="technology"] .textColor {
  color: #4b4e5a; }

[data-widget-section="technology"] .focus {
  border-bottom-color: #04777b; }

[data-widget-section="technology"] .focus:hover {
  color: #04777b;
  border-bottom-color: #04777b; }

[data-widget-section="technology"] .svgBackground {
  fill: #04777b; }

[data-widget-section="technology"] .background {
  background-color: #ffffff; }

[data-widget-section="technology"] .background.alt {
  background-color: #000050; }

[data-widget-section="technology"] .background.alt2 {
  background-color: #04777b; }

[data-widget-section="technology"] .listColor:before, [data-widget-section="technology"] .listColor:before {
  color: #04777b; }

[data-widget-section="technology"] .listBackground:after, [data-widget-section="technology"] .listBackground:before {
  background-color: #04777b; }

[data-widget-section="technology"] .border {
  border-color: #000050; }

[data-widget-section="technology"] .invert .background {
  background-color: #04777b; }
[data-widget-section="technology"] .invert .color {
  color: #ffffff; }
[data-widget-section="technology"] .invert .border {
  border-color: #04777b; }
[data-widget-section="technology"] .invert .color.reset {
  color: #04777b; }

[data-widget-section="culture"] * {
  color: #6b5e3f; }

[data-widget-section="culture"] .color {
  color: #86146e; }

[data-widget-section="culture"] .textColor {
  color: #6b5e3f; }

[data-widget-section="culture"] .focus {
  border-bottom-color: #86146e; }

[data-widget-section="culture"] .focus:hover {
  color: #86146e;
  border-bottom-color: #86146e; }

[data-widget-section="culture"] .svgBackground {
  fill: #86146e; }

[data-widget-section="culture"] .background {
  background-color: #f9f6f2; }

[data-widget-section="culture"] .background.alt {
  background-color: #50023d; }

[data-widget-section="culture"] .background.alt2 {
  background-color: #86146e; }

[data-widget-section="culture"] .listColor:before, [data-widget-section="culture"] .listColor:before {
  color: #86146e; }

[data-widget-section="culture"] .listBackground:after, [data-widget-section="culture"] .listBackground:before {
  background-color: #86146e; }

[data-widget-section="culture"] .border {
  border-color: #50023d; }

[data-widget-section="culture"] .invert .background {
  background-color: #86146e; }
[data-widget-section="culture"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="culture"] .invert .border {
  border-color: #86146e; }
[data-widget-section="culture"] .invert .color.reset {
  color: #86146e; }

[data-widget-section="film"] * {
  color: #6b5e3f; }

[data-widget-section="film"] .color {
  color: #86146e; }

[data-widget-section="film"] .textColor {
  color: #6b5e3f; }

[data-widget-section="film"] .focus {
  border-bottom-color: #86146e; }

[data-widget-section="film"] .focus:hover {
  color: #86146e;
  border-bottom-color: #86146e; }

[data-widget-section="film"] .svgBackground {
  fill: #86146e; }

[data-widget-section="film"] .background {
  background-color: #f9f6f2; }

[data-widget-section="film"] .background.alt {
  background-color: #50023d; }

[data-widget-section="film"] .background.alt2 {
  background-color: #86146e; }

[data-widget-section="film"] .listColor:before, [data-widget-section="film"] .listColor:before {
  color: #86146e; }

[data-widget-section="film"] .listBackground:after, [data-widget-section="film"] .listBackground:before {
  background-color: #86146e; }

[data-widget-section="film"] .border {
  border-color: #50023d; }

[data-widget-section="film"] .invert .background {
  background-color: #86146e; }
[data-widget-section="film"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="film"] .invert .border {
  border-color: #86146e; }
[data-widget-section="film"] .invert .color.reset {
  color: #86146e; }

[data-widget-section="tv"] * {
  color: #6b5e3f; }

[data-widget-section="tv"] .color {
  color: #86146e; }

[data-widget-section="tv"] .textColor {
  color: #6b5e3f; }

[data-widget-section="tv"] .focus {
  border-bottom-color: #86146e; }

[data-widget-section="tv"] .focus:hover {
  color: #86146e;
  border-bottom-color: #86146e; }

[data-widget-section="tv"] .svgBackground {
  fill: #86146e; }

[data-widget-section="tv"] .background {
  background-color: #f9f6f2; }

[data-widget-section="tv"] .background.alt {
  background-color: #50023d; }

[data-widget-section="tv"] .background.alt2 {
  background-color: #86146e; }

[data-widget-section="tv"] .listColor:before, [data-widget-section="tv"] .listColor:before {
  color: #86146e; }

[data-widget-section="tv"] .listBackground:after, [data-widget-section="tv"] .listBackground:before {
  background-color: #86146e; }

[data-widget-section="tv"] .border {
  border-color: #50023d; }

[data-widget-section="tv"] .invert .background {
  background-color: #86146e; }
[data-widget-section="tv"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="tv"] .invert .border {
  border-color: #86146e; }
[data-widget-section="tv"] .invert .color.reset {
  color: #86146e; }

[data-widget-section="lifestyle"] * {
  color: #6b5e3f; }

[data-widget-section="lifestyle"] .color {
  color: #0082ad; }

[data-widget-section="lifestyle"] .textColor {
  color: #6b5e3f; }

[data-widget-section="lifestyle"] .focus {
  border-bottom-color: #0082ad; }

[data-widget-section="lifestyle"] .focus:hover {
  color: #0082ad;
  border-bottom-color: #0082ad; }

[data-widget-section="lifestyle"] .svgBackground {
  fill: #0082ad; }

[data-widget-section="lifestyle"] .background {
  background-color: #fff8e9; }

[data-widget-section="lifestyle"] .background.alt {
  background-color: #0d4559; }

[data-widget-section="lifestyle"] .background.alt2 {
  background-color: #0082ad; }

[data-widget-section="lifestyle"] .listColor:before, [data-widget-section="lifestyle"] .listColor:before {
  color: #0082ad; }

[data-widget-section="lifestyle"] .listBackground:after, [data-widget-section="lifestyle"] .listBackground:before {
  background-color: #0082ad; }

[data-widget-section="lifestyle"] .border {
  border-color: #0d4559; }

[data-widget-section="lifestyle"] .invert .background {
  background-color: #0082ad; }
[data-widget-section="lifestyle"] .invert .color {
  color: #fff8e9; }
[data-widget-section="lifestyle"] .invert .border {
  border-color: #0082ad; }
[data-widget-section="lifestyle"] .invert .color.reset {
  color: #0082ad; }

[data-widget-section="fashion"] * {
  color: #6b5e3f; }

[data-widget-section="fashion"] .color {
  color: #088192; }

[data-widget-section="fashion"] .textColor {
  color: #6b5e3f; }

[data-widget-section="fashion"] .focus {
  border-bottom-color: #088192; }

[data-widget-section="fashion"] .focus:hover {
  color: #088192;
  border-bottom-color: #088192; }

[data-widget-section="fashion"] .svgBackground {
  fill: #088192; }

[data-widget-section="fashion"] .background {
  background-color: #f9f6f2; }

[data-widget-section="fashion"] .background.alt {
  background-color: #005051; }

[data-widget-section="fashion"] .background.alt2 {
  background-color: #088192; }

[data-widget-section="fashion"] .listColor:before, [data-widget-section="fashion"] .listColor:before {
  color: #088192; }

[data-widget-section="fashion"] .listBackground:after, [data-widget-section="fashion"] .listBackground:before {
  background-color: #088192; }

[data-widget-section="fashion"] .border {
  border-color: #005051; }

[data-widget-section="fashion"] .invert .background {
  background-color: #088192; }
[data-widget-section="fashion"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="fashion"] .invert .border {
  border-color: #088192; }
[data-widget-section="fashion"] .invert .color.reset {
  color: #088192; }

[data-widget-section="luxury"] * {
  color: #4b4e5a; }

[data-widget-section="luxury"] .color {
  color: #666666; }

[data-widget-section="luxury"] .textColor {
  color: #4b4e5a; }

[data-widget-section="luxury"] .focus {
  border-bottom-color: #666666; }

[data-widget-section="luxury"] .focus:hover {
  color: #666666;
  border-bottom-color: #666666; }

[data-widget-section="luxury"] .svgBackground {
  fill: #666666; }

[data-widget-section="luxury"] .background {
  background-color: #eeeeee; }

[data-widget-section="luxury"] .background.alt {
  background-color: #191919; }

[data-widget-section="luxury"] .background.alt2 {
  background-color: #666666; }

[data-widget-section="luxury"] .listColor:before, [data-widget-section="luxury"] .listColor:before {
  color: #666666; }

[data-widget-section="luxury"] .listBackground:after, [data-widget-section="luxury"] .listBackground:before {
  background-color: #666666; }

[data-widget-section="luxury"] .border {
  border-color: #191919; }

[data-widget-section="luxury"] .invert .background {
  background-color: #666666; }
[data-widget-section="luxury"] .invert .color {
  color: #eeeeee; }
[data-widget-section="luxury"] .invert .border {
  border-color: #666666; }
[data-widget-section="luxury"] .invert .color.reset {
  color: #666666; }

[data-widget-section="gardening"] * {
  color: #6b5e3f; }

[data-widget-section="gardening"] .color {
  color: #457d3b; }

[data-widget-section="gardening"] .textColor {
  color: #6b5e3f; }

[data-widget-section="gardening"] .focus {
  border-bottom-color: #457d3b; }

[data-widget-section="gardening"] .focus:hover {
  color: #457d3b;
  border-bottom-color: #457d3b; }

[data-widget-section="gardening"] .svgBackground {
  fill: #457d3b; }

[data-widget-section="gardening"] .background {
  background-color: #fff8e9; }

[data-widget-section="gardening"] .background.alt {
  background-color: #1b4620; }

[data-widget-section="gardening"] .background.alt2 {
  background-color: #457d3b; }

[data-widget-section="gardening"] .listColor:before, [data-widget-section="gardening"] .listColor:before {
  color: #457d3b; }

[data-widget-section="gardening"] .listBackground:after, [data-widget-section="gardening"] .listBackground:before {
  background-color: #457d3b; }

[data-widget-section="gardening"] .border {
  border-color: #1b4620; }

[data-widget-section="gardening"] .invert .background {
  background-color: #457d3b; }
[data-widget-section="gardening"] .invert .color {
  color: #fff8e9; }
[data-widget-section="gardening"] .invert .border {
  border-color: #457d3b; }
[data-widget-section="gardening"] .invert .color.reset {
  color: #457d3b; }

[data-widget-section="cars"] * {
  color: #6b5e3f; }

[data-widget-section="cars"] .color {
  color: #0082ad; }

[data-widget-section="cars"] .textColor {
  color: #6b5e3f; }

[data-widget-section="cars"] .focus {
  border-bottom-color: #0082ad; }

[data-widget-section="cars"] .focus:hover {
  color: #0082ad;
  border-bottom-color: #0082ad; }

[data-widget-section="cars"] .svgBackground {
  fill: #0082ad; }

[data-widget-section="cars"] .background {
  background-color: #fff8e9; }

[data-widget-section="cars"] .background.alt {
  background-color: #0d4559; }

[data-widget-section="cars"] .background.alt2 {
  background-color: #0082ad; }

[data-widget-section="cars"] .listColor:before, [data-widget-section="cars"] .listColor:before {
  color: #0082ad; }

[data-widget-section="cars"] .listBackground:after, [data-widget-section="cars"] .listBackground:before {
  background-color: #0082ad; }

[data-widget-section="cars"] .border {
  border-color: #0d4559; }

[data-widget-section="cars"] .invert .background {
  background-color: #0082ad; }
[data-widget-section="cars"] .invert .color {
  color: #fff8e9; }
[data-widget-section="cars"] .invert .border {
  border-color: #0082ad; }
[data-widget-section="cars"] .invert .color.reset {
  color: #0082ad; }

[data-widget-section="women"] * {
  color: #6b5e3f; }

[data-widget-section="women"] .color {
  color: #0082ad; }

[data-widget-section="women"] .textColor {
  color: #6b5e3f; }

[data-widget-section="women"] .focus {
  border-bottom-color: #0082ad; }

[data-widget-section="women"] .focus:hover {
  color: #0082ad;
  border-bottom-color: #0082ad; }

[data-widget-section="women"] .svgBackground {
  fill: #0082ad; }

[data-widget-section="women"] .background {
  background-color: #fff8e9; }

[data-widget-section="women"] .background.alt {
  background-color: #0d4559; }

[data-widget-section="women"] .background.alt2 {
  background-color: #0082ad; }

[data-widget-section="women"] .listColor:before, [data-widget-section="women"] .listColor:before {
  color: #0082ad; }

[data-widget-section="women"] .listBackground:after, [data-widget-section="women"] .listBackground:before {
  background-color: #0082ad; }

[data-widget-section="women"] .border {
  border-color: #0d4559; }

[data-widget-section="women"] .invert .background {
  background-color: #0082ad; }
[data-widget-section="women"] .invert .color {
  color: #fff8e9; }
[data-widget-section="women"] .invert .border {
  border-color: #0082ad; }
[data-widget-section="women"] .invert .color.reset {
  color: #0082ad; }

[data-widget-section="men"] * {
  color: #6b5e3f; }

[data-widget-section="men"] .color {
  color: #0082ad; }

[data-widget-section="men"] .textColor {
  color: #6b5e3f; }

[data-widget-section="men"] .focus {
  border-bottom-color: #0082ad; }

[data-widget-section="men"] .focus:hover {
  color: #0082ad;
  border-bottom-color: #0082ad; }

[data-widget-section="men"] .svgBackground {
  fill: #0082ad; }

[data-widget-section="men"] .background {
  background-color: #fff8e9; }

[data-widget-section="men"] .background.alt {
  background-color: #0d4559; }

[data-widget-section="men"] .background.alt2 {
  background-color: #0082ad; }

[data-widget-section="men"] .listColor:before, [data-widget-section="men"] .listColor:before {
  color: #0082ad; }

[data-widget-section="men"] .listBackground:after, [data-widget-section="men"] .listBackground:before {
  background-color: #0082ad; }

[data-widget-section="men"] .border {
  border-color: #0d4559; }

[data-widget-section="men"] .invert .background {
  background-color: #0082ad; }
[data-widget-section="men"] .invert .color {
  color: #fff8e9; }
[data-widget-section="men"] .invert .border {
  border-color: #0082ad; }
[data-widget-section="men"] .invert .color.reset {
  color: #0082ad; }

[data-widget-section="beauty"] * {
  color: #6b5e3f; }

[data-widget-section="beauty"] .color {
  color: #5c2482; }

[data-widget-section="beauty"] .textColor {
  color: #6b5e3f; }

[data-widget-section="beauty"] .focus {
  border-bottom-color: #5c2482; }

[data-widget-section="beauty"] .focus:hover {
  color: #5c2482;
  border-bottom-color: #5c2482; }

[data-widget-section="beauty"] .svgBackground {
  fill: #5c2482; }

[data-widget-section="beauty"] .background {
  background-color: #fff8e9; }

[data-widget-section="beauty"] .background.alt {
  background-color: #30083f; }

[data-widget-section="beauty"] .background.alt2 {
  background-color: #5c2482; }

[data-widget-section="beauty"] .listColor:before, [data-widget-section="beauty"] .listColor:before {
  color: #5c2482; }

[data-widget-section="beauty"] .listBackground:after, [data-widget-section="beauty"] .listBackground:before {
  background-color: #5c2482; }

[data-widget-section="beauty"] .border {
  border-color: #30083f; }

[data-widget-section="beauty"] .invert .background {
  background-color: #5c2482; }
[data-widget-section="beauty"] .invert .color {
  color: #fff8e9; }
[data-widget-section="beauty"] .invert .border {
  border-color: #5c2482; }
[data-widget-section="beauty"] .invert .color.reset {
  color: #5c2482; }

[data-widget-section="foodanddrink"] * {
  color: #6b5e3f; }

[data-widget-section="foodanddrink"] .color {
  color: #df4c0d; }

[data-widget-section="foodanddrink"] .textColor {
  color: #6b5e3f; }

[data-widget-section="foodanddrink"] .focus {
  border-bottom-color: #df4c0d; }

[data-widget-section="foodanddrink"] .focus:hover {
  color: #df4c0d;
  border-bottom-color: #df4c0d; }

[data-widget-section="foodanddrink"] .svgBackground {
  fill: #df4c0d; }

[data-widget-section="foodanddrink"] .background {
  background-color: #fff8e9; }

[data-widget-section="foodanddrink"] .background.alt {
  background-color: #702800; }

[data-widget-section="foodanddrink"] .background.alt2 {
  background-color: #df4c0d; }

[data-widget-section="foodanddrink"] .listColor:before, [data-widget-section="foodanddrink"] .listColor:before {
  color: #df4c0d; }

[data-widget-section="foodanddrink"] .listBackground:after, [data-widget-section="foodanddrink"] .listBackground:before {
  background-color: #df4c0d; }

[data-widget-section="foodanddrink"] .border {
  border-color: #702800; }

[data-widget-section="foodanddrink"] .invert .background {
  background-color: #df4c0d; }
[data-widget-section="foodanddrink"] .invert .color {
  color: #fff8e9; }
[data-widget-section="foodanddrink"] .invert .border {
  border-color: #df4c0d; }
[data-widget-section="foodanddrink"] .invert .color.reset {
  color: #df4c0d; }

[data-widget-section="healthandfitness"] * {
  color: #6b5e3f; }

[data-widget-section="healthandfitness"] .color {
  color: #0082ad; }

[data-widget-section="healthandfitness"] .textColor {
  color: #6b5e3f; }

[data-widget-section="healthandfitness"] .focus {
  border-bottom-color: #0082ad; }

[data-widget-section="healthandfitness"] .focus:hover {
  color: #0082ad;
  border-bottom-color: #0082ad; }

[data-widget-section="healthandfitness"] .svgBackground {
  fill: #0082ad; }

[data-widget-section="healthandfitness"] .background {
  background-color: #fff8e9; }

[data-widget-section="healthandfitness"] .background.alt {
  background-color: #0d4559; }

[data-widget-section="healthandfitness"] .background.alt2 {
  background-color: #0082ad; }

[data-widget-section="healthandfitness"] .listColor:before, [data-widget-section="healthandfitness"] .listColor:before {
  color: #0082ad; }

[data-widget-section="healthandfitness"] .listBackground:after, [data-widget-section="healthandfitness"] .listBackground:before {
  background-color: #0082ad; }

[data-widget-section="healthandfitness"] .border {
  border-color: #0d4559; }

[data-widget-section="healthandfitness"] .invert .background {
  background-color: #0082ad; }
[data-widget-section="healthandfitness"] .invert .color {
  color: #fff8e9; }
[data-widget-section="healthandfitness"] .invert .border {
  border-color: #0082ad; }
[data-widget-section="healthandfitness"] .invert .color.reset {
  color: #0082ad; }

[data-widget-section="politics"] * {
  color: #4b4e5a; }

[data-widget-section="politics"] .color {
  color: #d10a11; }

[data-widget-section="politics"] .textColor {
  color: #4b4e5a; }

[data-widget-section="politics"] .focus {
  border-bottom-color: #d10a11; }

[data-widget-section="politics"] .focus:hover {
  color: #d10a11;
  border-bottom-color: #d10a11; }

[data-widget-section="politics"] .svgBackground {
  fill: #d10a11; }

[data-widget-section="politics"] .background {
  background-color: #f9f6f2; }

[data-widget-section="politics"] .background.alt {
  background-color: #700000; }

[data-widget-section="politics"] .background.alt2 {
  background-color: #d10a11; }

[data-widget-section="politics"] .listColor:before, [data-widget-section="politics"] .listColor:before {
  color: #d10a11; }

[data-widget-section="politics"] .listBackground:after, [data-widget-section="politics"] .listBackground:before {
  background-color: #d10a11; }

[data-widget-section="politics"] .border {
  border-color: #700000; }

[data-widget-section="politics"] .invert .background {
  background-color: #d10a11; }
[data-widget-section="politics"] .invert .color {
  color: #f9f6f2; }
[data-widget-section="politics"] .invert .border {
  border-color: #d10a11; }
[data-widget-section="politics"] .invert .color.reset {
  color: #d10a11; }

[data-widget-section="world-cup"] * {
  color: #666666; }

[data-widget-section="world-cup"] .color {
  color: #1d4be1; }

[data-widget-section="world-cup"] .textColor {
  color: #666666; }

[data-widget-section="world-cup"] .focus {
  border-bottom-color: #1d4be1; }

[data-widget-section="world-cup"] .focus:hover {
  color: #1d4be1;
  border-bottom-color: #1d4be1; }

[data-widget-section="world-cup"] .svgBackground {
  fill: #1d4be1; }

[data-widget-section="world-cup"] .background {
  background-color: #ffffff; }

[data-widget-section="world-cup"] .background.alt {
  background-color: #e63338; }

[data-widget-section="world-cup"] .background.alt2 {
  background-color: #1d4be1; }

[data-widget-section="world-cup"] .listColor:before, [data-widget-section="world-cup"] .listColor:before {
  color: #1d4be1; }

[data-widget-section="world-cup"] .listBackground:after, [data-widget-section="world-cup"] .listBackground:before {
  background-color: #1d4be1; }

[data-widget-section="world-cup"] .border {
  border-color: #e63338; }

[data-widget-section="world-cup"] .invert .background {
  background-color: #1d4be1; }
[data-widget-section="world-cup"] .invert .color {
  color: #ffffff; }
[data-widget-section="world-cup"] .invert .border {
  border-color: #1d4be1; }
[data-widget-section="world-cup"] .invert .color.reset {
  color: #1d4be1; }

html * {
  color: #4b4e5a; }

html .color {
  color: #033e4e; }

html .textColor {
  color: #4b4e5a; }

html .focus {
  border-bottom-color: #033e4e; }

html .focus:hover {
  color: #033e4e;
  border-bottom-color: #033e4e; }

html .svgBackground {
  fill: #033e4e; }

html .background {
  background-color: #f9f6f2; }

html .background.alt {
  background-color: #1a2d38; }

html .background.alt2 {
  background-color: #033e4e; }

html .listColor:before, html .listColor:before {
  color: #033e4e; }

html .listBackground:after, html .listBackground:before {
  background-color: #033e4e; }

html .border {
  border-color: #1a2d38; }

html .invert .background {
  background-color: #033e4e; }
html .invert .color {
  color: #f9f6f2; }
html .invert .border {
  border-color: #033e4e; }
html .invert .color.reset {
  color: #033e4e; }

/*# sourceMappingURL=colors.css.map */
