/* Local copies of fonts */
@font-face {
	font-family: 'widgetFontHeading';
	src:url("../_fonts/Austin News Deck Web-Roman.woff2") format("woff2"),
	url("../_fonts/Austin News Deck Web-Roman.woff") format("woff"),
	url("../_fonts/Austin News Deck Web-Roman.ttf") format("truetype"),
	url("../_fonts/Austin News Deck Web-Roman.eot"),
	url("../_fonts/Austin News Deck Web-Roman.svg") format("svg"),
	url("../_fonts/Austin News Deck Web-Roman.eot?#iefix") format("embedded-opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'widgetFontHeading';
	src:url("../_fonts/Austin News Deck Web-Semibold.woff2") format("woff2"),
	url("../_fonts/Austin News Deck Web-Semibold.woff") format("woff"),
	url("../_fonts/Austin News Deck Web-Semibold.ttf") format("truetype"),
	url("../_fonts/Austin News Deck Web-Semibold.eot"),
	url("../_fonts/Austin News Deck Web-Semibold.svg") format("svg"),
	url("../_fonts/Austin News Deck Web-Semibold.eot?#iefix") format("embedded-opentype");
	font-weight: 700;
}
@font-face {
	font-family: 'widgetFontHeading';
	src:url("../_fonts/Austin News Deck Web-Medium Italic.woff2") format("woff2"),
	url("../_fonts/Austin News Deck Web-Medium Italic.woff") format("woff"),
	url("../_fonts/Austin News Deck Web-Medium Italic.ttf") format("truetype"),
	url("../_fonts/Austin News Deck Web-Medium Italic.eot"),
	url("../_fonts/Austin News Deck Web-Medium Italic.svg") format("svg"),
	url("../_fonts/Austin News Deck Web-Medium Italic.eot?#iefix") format("embedded-opentype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'widgetFontBody';
	src:url("../_fonts/Telesans Text Web-Regular.woff2") format("woff2"),
	url("../_fonts/Telesans Text Web-Regular.woff") format("woff"),
	url("../_fonts/Telesans Text Web-Regular.ttf") format("truetype"),
	url("../_fonts/Telesans Text Web-Regular.eot"),
	url("../_fonts/Telesans Text Web-Regular.svg") format("svg"),
	url("../_fonts/Telesans Text Web-Regular.eot?#iefix") format("embedded-opentype");
	font-weight: 400;
}
@font-face {
	font-family: 'widgetFontBody';
	src:url("../_fonts/Telesans Text Web-Bold.woff2") format("woff2"),
	url("../_fonts/Telesans Text Web-Bold.woff") format("woff"),
	url("../_fonts/Telesans Text Web-Bold.ttf") format("truetype"),
	url("../_fonts/Telesans Text Web-Bold.eot"),
	url("../_fonts/Telesans Text Web-Bold.svg") format("svg"),
	url("../_fonts/Telesans Text Web-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: 700;
}
@font-face{
	font-family:"iconfont";
	src:url("../_fonts/iconfont.woff2") format("woff2"),
	url("../_fonts/iconfont.woff") format("woff"),
	url("../_fonts/iconfont.ttf") format("truetype"),
	url("../_fonts/iconfont.eot"),
	url("../_fonts/iconfont.svg") format("svg"),
	url("../_fonts/iconfont.eot?#iefix") format("embedded-opentype");
	font-weight:400;
}